<!DOCTYPE html>
<html>
<head>
	<title>Upload Track</title>
	<link rel="icon" href="favicon.png">
	<meta name="theme-color" content="#eee">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<link rel="stylesheet" type="text/css" href="app.css">
</head>
<body>
	<div class="box">
		<h2><a href="/upload">Upload a GPX file</a></h2>
		<form enctype="multipart/form-data" method="post" action="/upload">
			<label class="chooseBtn">
    			<input name="gpxFile" type="file" id="fileUpload" multiple>
    			Choose file
				</label>
			<input type="submit" name="send" value="Send">
		</form>
		<span id="nameDisplay"></span>
		<div>
			<% if (message && message.length > 1) { %>
                <div class="flash-message" role="alert">
                    <%= message %>
                </div>
	        <% } %>
        </div>
        <a href="/"><< Back to map</a>
	</div>
	
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="./js/upload.js"></script>
</body>
</html>