<!DOCTYPE html>
<html>
<head>
	<title>Upload Track</title>
	<link rel="stylesheet" type="text/css" href="app.css">
</head>
<body>
	<div class="box">
		<h2>Upload a GPX file</h2>
		<form enctype="multipart/form-data" method="post" action="/upload">
			<label class="chooseBtn">
    			<input name="gpxFile" type="file" id="fileUpload">
    			Choose file
				</label>
			<input type="submit" name="send" value="Send">
		</form>
		<span id="nameDisplay"></span>
		<div>
			<% if (errorMessage && errorMessage.length > 1) { %>
                <div class="flash-message" role="alert">
                    <%= errorMessage %>
                </div>
	        <% } %>
        </div>
	</div>
	
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="upload.js"></script>
</body>
</html>