html {height: 100%;}
body {
	font-family: "Roboto";
	margin: 0;
	height: 100%;
	background-color: #333;
}

#map {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

input, .chooseBtn {
	color: #222;
	display: inline-block;
	width: 25%;
	padding: 10px;
	margin: 5px 5px 10px 5px;
	outline: none;
	border-style: none;
	background-color: #5ac9c7;
	font: 400 17px "Roboto";
}

a {
	text-decoration: none;
	color: #eee; 
}

a[href="/"] {
	color: #5ac9c7;
	position: absolute;
	bottom: 10%;
	left: 0;
	right: 0;
}

h2 {
	margin: 0;
	padding: 20px;
}

input[type=file] {display: none;}

span {font-size: 13px; color: #eee; padding-top: 5px;}

form {margin-top: 50px;}

.box {
	text-align: center;
	width: 50%;
	height: 280px;
	margin: 50px auto;
}

input:hover, .chooseBtn:hover {opacity: 0.8;}

.flash-message {
	opacity: 0.8;
	height: auto;
	width: 200px;
	margin: 0 auto;
	padding: 5px;
	color: #eee;
}

@media screen and (max-width: 630px) {
	html, body { height: 100%; margin: 0; padding: 0 0 0 0; overflow: hidden;}
	.box {
		margin: 0 auto;
		margin-top: 30px;
		width: 100%;
		height: 100%;
	}
	input, .chooseBtn {
		width: 180px;
		padding: 12px;
		margin: 8px;
	}
	input {width: 204px;}
}