body {
	font-family: "Roboto";
	color: #333;
	margin: 0;
}

#map {
	width: 100%;
	height: 674px;
	margin: 0 auto;
}

input, .chooseBtn {
	display: inline-block;
	width: 25%;
	padding: 10px;
	margin: 5px;
	outline: none;
	border-style: none;
	background-color: #eee;
	font: 400 17px "Roboto";
}

a {
	text-decoration: none;
	color: #333; 
}

input[type=file] {
	display: none;
}

span {
	font-size: 13px;
}

form {
	margin-top: 50px;
}

.box {
	padding: 20px; 
	text-align: center;
	width: 50%;
	height: 280px;
	margin: 50px auto;
	background-color: #5ac9c7;
}

input:hover, .chooseBtn:hover {
	opacity: 0.8;
}

.flash-message {
	opacity: 0.8;
	height: auto;
	width: 200px;
	margin: 0 auto;
	padding: 5px;
}