body {
	font-family: "Roboto";
	color: #222;
}

#map {
	width: 100%; 
	height: 658px;
	margin: 0 auto;
}

input, .chooseBtn {
	display: inline-block;
	width: 30%;
	padding: 10px;
	margin: 5px;
	outline: none;
	border-style: none;
	background-color: #eee;
	font: 400 17px "Roboto";
}

input[type=file] {
	display: none;
}

span {
	font-size: 13px;
}

.box {
	padding: 15px; 
	text-align: center;
	width: 60%;
	height: 250px;
	margin: 50px auto;
	background-color: #5ac9c7;
}

input:hover, .chooseBtn:hover {
	opacity: 0.8;
}